# PostgreSQL OLTP
POSTGRES_USER=stripe
POSTGRES_PASSWORD=stripe_pwd
POSTGRES_DB=stripe_oltp

# MongoDB NoSQL
MONGO_USER=stripe
MONGO_PASSWORD=stripe_pwd

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
