# Environment
.env
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/

# dbt
dbt/stripe_analytics/target/
dbt/stripe_analytics/dbt_packages/
dbt/stripe_analytics/logs/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Secrets (jamais commit)
*.pem
*.key
credentials.json
